body {
    margin: 0 auto;
    background-color: #333;
    overflow: hidden;
}

.sitewrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.text {
    text-align: center; 
    font-family: 'Segoe UI'; 
    margin: 0;
    font-size: 5vmin;
}

.container {
    width: 85%;
    height: 50%;
    background-color: #222;
    display: flex;
    justify-content: center;
}

h1 {
    align-self: center;
    font-family:'Franklin Gothic Medium';
    color: white;
}

.controls {
    margin-left: 1%;
}

.btn {
    width: 300px;
    height: 75px;
    background-color: black;
    transition-duration: 0.5s;
    color: white;
    font-family: Cambria;
    text-decoration: none;
    border-radius: 4px;
}

.btn2 {
    width: 300px;
    height: 75px;
    background-color: black;
    transition-duration: 0.5s;
    color: white;
    font-family: Cambria;
    text-decoration: none;
    border-radius: 4px;
}

.btn3 {
    width: 300px;
    height: 75px;
    background-color: black;
    transition-duration: 0.5s;
    color: white;
    font-family: Cambria;
    text-decoration: none;
    border-radius: 4px;
}

.btn:hover {
    background-color: green;
    cursor: pointer;
}

.btn2:hover {
    background-color: red;
    cursor: pointer;
}

.btn3:hover {
    background-color: yellow;
    cursor: pointer;
    color: black;
}